* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4.1vh;
  min-height: 100vh;
  background: #e14141;
  flex-direction: column;
  padding: 2%;
}

.header {
  display: flex;
  flex-direction: column;
}

.header label {
  margin-bottom: 20px;
  text-align: center;
}

.header h1 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 3vh;
  background-color: #ffff00;
  border-radius: 15px;
  padding: 10px;
}

.header i {
  color: #e14141;
}

.header div {
  display: flex;
  justify-content: space-between;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: #ffff00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: .3s;
}

.header button:hover {
  box-shadow: none
}

.converter {
  text-align: center;
  padding: 20px;
  min-height: 180px;
  max-width: 345px;
  border-radius: 8px;
  transition: all 0.2s;
  border-radius: 50px;
  background: #e14141;
  box-shadow: 20px 20px 60px #bf3737,
    -20px -20px 60px #ff4b4b;
}

.converter:hover {
  box-shadow: inset 20px 20px 60px #bf3737,
    inset -20px -20px 60px #ff4b4b;
}

.converter input,
.converter select {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background: #ffff00;
}

label {
  font-weight: bold;
  margin-right: 5px;
}

label span {
  color: #ffff00;
}

input,
select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background: #ff8383;
}

.converter__result {
  font-weight: bold;
  margin-top: 20px;
}

#rateSelect option:nth-child(1),
#rateSelect option:nth-child(4),
#rateSelect option:nth-child(8),
#rateSelect option:nth-child(4n+4) {
  background: #e14141;
}

.converter__img {
  max-width: 300px;
  width: 70%;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  /* Ajoutez cette ligne pour l'ombre */
}



@media screen and (max-width: 305px) {
  .header i {
    display: none;
  }
}

@media screen and (max-width: 399px) {
  body {
    gap: 7vh;
  }

  .header h1 {
    margin-top: 5px;
  }
}